
 										body {
 											background-image:url("../images/paiselybg.gif");
 											height:500px;
 											min-width:224px;
 										}
 										.navbar-nav {
 											padding-top:140px;
 											margin-left:240px;
 										}

 										li a {
 											color:orange;
 										}

 										.active {
 											color:white;
 										}

 										.custom-img {
 											margin-left:240px;
 											margin-top:-25px;
 										}

 										.custom-para {
 											margin-left:290px;
 											background:linear-gradient(#6b3506,#db6f11);
 											color:white;
 											margin-right:350px;
 											height:250px;
 										}

 										.custom-font {
 											font-family:Arial;
 											font-size: 16px;
 											margin-left:5px;
 										}

 										.vertical-navbar {
 											border:1px solid transparent;
 											height:330px;
 											margin-left:50px;
 											float:left;
 											margin-top:-330px;
 											background:linear-gradient(#6b3506,#db6f11);
 											text-overflow:auto;
 											width:220px;
 											color:white;
 											list-style-type:none;
 										}

 										.indexpage {
 											margin-top:80px;
 										}

 										.glyphicon-menu-right {
 											color:white;
 										}

 										.custom-margin {
 											margin-left:10px;
 										}

 										.icon-bar {
 											color:white;
 											border:1px solid orange;
 										}

 										@media only screen and (max-width:500px){
 											.navbar-nav {
 												margin-left:0;
 											}
 											.vertical-navbar {
 												margin-left:0;
 											}
 											.indexpage {
 												margin-top:0px;
 											}
 											.icon-bar {
 												margin-top:0px;
 											}
 											.vertical-navbar {
 												margin-top:-250px;
 											}
 										}