                       body {
                        background-image:url("../images/paiselybg.gif");
                      }                       
                      .navbar-nav {
                        padding-top:120px;
                        margin-left:110px;
                      }
                      li a {
                        color:orange;
                        padding:25px;
                        margin-left:auto;
                      }
                      a.active {
                        color:white;
                      }
                      .para-custom {
                         background:linear-gradient(#6b3506,#db6f11);
                         height:700px;
                         margin-left:270px;
                         margin-top:5px;
                         margin-right:380px;
                         color:white;
                      }
                      .custom-margin {
                         margin-left:220px;
                      }
                      .table {
                        wdith:50%;
                        overflow:auto;
                      }
                      th{
                        border-bottom: 1px solid blue;
                      }
                      td {
                        padding:10px;
                      }

                      .custom-img {
                        margin-left:20px;
                        margin-top:-100px;
                        float:left;
                      }
                      .glyphicon-menu-right {
                        color:white;
                      }
                      .indexpage {
                        margin-top:70px;
                      }
                      @media only screen and (max-width:640px) {
                          .navbar-nav {
                              margin-left:0;
                          }
                          .table-responsive {
                              margin-left:0;
                          }
                      }