
<!DOCTYPE html>
	<html>
		<head>
			<title>Locations</title>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../Styles/stylesheetlocations.css">
 			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		</head>

		<body>
      <nav class="navbar navbar-primary">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="../../index.html"><img class="img-responsive indexpage" src="../images/spaimage.jpg" width="80" height="80" alt="spa image"></a>
            </div>
            <ul class="nav navbar-nav">

			     	<li><a href="aboutpage.html"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> ABOUT LOREM IPSUM</a></li>
			     	<li><a href="#" class="active"><span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="color:white"></span> OUR LOCATIONS</a></li>
			     	<li><a href="spaproducts.html"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> SPA PRODUCTS</a></li>
				    <li><a href="specialoffers.html"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> SPECIAL OFFERS</a></li>
			    </ul>
        </div>
      </nav>
      <div id="img-custom">
			<div class="img-responsive">
			 <a  href="#">
			 	<img src="file:///C:/gitProjects/Web-Designing/client/images/africaimg.jpg" alt="africaimg" width="200" height="100">  <p>AFRICA</p>
			 </a>
			</div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/carribeanimg.jpg" alt="carribean" width="200" height="100">
            <p>CARRIBEAN</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/china.jpg" alt="china" width="200" height="100">
            <p>CHINA</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/europe.jpg" alt="europe" width="200" height="100">
            <p>EUROPE</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/hawaii.jpg" alt="hawaii" width="200" height="100">
            <p>HAWAII</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/indonesia.jpg" alt="indonesia" width="200" height="100">
            <p>INDONESIA</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/japan.jpg" alt="japan" width="200" height="100">
            <p>JAPAN</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/malaysia.jpg" alt="malaysia" width="200" height="100">
            <p>MALAYSIA</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/maldives.jpg" alt="maldives" width="200" height="100">
            <p>MALDIVES</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/micronesia.jpg" alt="micronesia" width="200" height="100">
            <p>MICRONESIA</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/spasatsea.jpg" alt="spas at sea" width="200" height="100">
            <p>SPAS AT SEA</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/Thailand.jpg" alt="Thailand" width="200" height="100">
            <p>THAILAND</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/unitedarabemirates.jpg" alt="United Arab Emirates" width="200" height="100">
            <p>UNITED ARAB EMIRATES</p>
        </a>
      </div>
      <div class="img-responsive">
        <a href="#">
          <img src="../images/unitedstates.jpg" alt="United States" width="200" height="100">
              <p>UNITED STATES</p>
        </a>
      </div>
      </div>
    <!--  <div class="vertical-navbar">
        <a href="../../index.html"><img class="img-responsive" src="../images/spaimage.jpg" alt="spaimage" width="80" height="80"></a>
      </div>
 -->    </body>
  </html>