<!DOCTYPE html>
<html>
	<head>
		<title>Registration form</title>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../Styles/stylesheetregistration.css">
 			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 			<script src="https://raw.githubusercontent.com/srobbin/jquery-backstretch/master/jquery.backstretch.min.js"></script>
 	</head>
 	<body>
 		<div class="container">
 			<h1>Registration</h1>
 				<hr>
 					<img class="img-responsive custom-height" src="../images/registration.png" alt="registerspa">
 					<br>
 					<form class="form-horizontal" role="form">
 						<div class="form-group">
 							<label class="control-label col-xs-2" for="firstname">First Name</label>
 								<div class="col-xs-4">
 									<input type="text" class="form-control" id="firstname">
 								</div>
 						</div>

 						<div class="form-group">
 								<label class="control-label col-xs-2" for="lastname">Last Name</label>
 									<div class="col-xs-4">
 										<input type="text" class="form-control" id="lastname">
 									</div>
 						</div>

 						<div class="form-group">
 								<label class="control-label col-xs-2" for="email">Email</label>
 									<div class="col-xs-4">
 										<input type="email" class="form-control" id="email">
 									</div>
 						</div>

 						<div class="form-group">
 						 	<label class="control-label col-xs-2" for="pwd">Password</label>
 						 		<div class="col-xs-4">
 									<input type="password" class="form-control" id="pwd">
 								</div>
 						</div>

 						<div class="checkbox">
 							<label class="control-label custom-checkbox"><input type="checkbox">Recieve our newsletter for special offers</label>
 						</div>

 						<button type="button" class="col-xs-2 btn btn-warning"><a class="custom-color" href="#">Submit</a></button>

 		
 					</form>
 		</div>
 	</body>
 </html>



