<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Signup page</title>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../Styles/stylesheetsignuppage.css">
 			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 			<script src="https://raw.githubusercontent.com/srobbin/jquery-backstretch/master/jquery.backstretch.min.js"></script>
 	</head>
 	<body>
 		<div class="container">
 			<h2>Login Into Your Account</h2>
 				<hr>
 				<form role="form">
 					<div class="form-group">
 						<div class="col-xs-4">
 						
 							<label for="emailsignin" class="control-label">Email</label>
 							<input class="form-control" id="emailsignup" type="text" placeholder="Enter your email">
 						</div>
 					</div>
 					<br>
 					<br>
 					<br>
 					<br>
 					<div class="form-group">
 						<div class="col-xs-4">
 						<label for="pwd" class="control-label">Password</label>
 						<input class="form-control" type="password" id="pwd" placeholder="Enter password">
 						</div>
 					</div>
 					<br>
 					<br>
 					<br>
 					<br>
 					<button type="submit" class="col-xs-2 btn btn-warning"><a class="custom-color" href="#">Sign in</a></button>
 					<br>
 					<br>
 					<div class="checkbox">
 						<label class="control-label custom-checkbox"><input type="checkbox">Remember me</label>

 						<label for="forgot" class="control-label"><a href="#">Forgot password?</a></label>
 					  	<br>
 					  	<br>
 						<label for="account" class="control-label"><a href="registration.html">Create Account</a></label>
 						<img class="img-responsive custom-feature" src="../images/signup.jpg" alt="signup" width="500">


 				</form>
 		</div>


 	</body>
 </html>