<!DOCTYPE html>
	<html>
		<head>
			<title>Spa Products</title>
				<meta charset="utf-8">
				<meta name="viewport" width="device-width, initial-scale=1.0">
				<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
                        <link rel="stylesheet" type="text/css" href="../Styles/stylesheetspaproducts.css">
 				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 				<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 				<script src="https://raw.githubusercontent.com/srobbin/jquery-backstretch/master/jquery.backstretch.min.js"></script>
		</head>

		<body>
			<nav class="navbar navbar-primary">
				<div class="container">
                              <div class="navbar-header">
                                    <a class="navbar-brand" href="../../index.html"><img src="../images/spaimage.jpg" class="img-responsive indexpage" width="80" height="80" alt="spa image"></a>
                              </div>
					<ul class="nav navbar-nav">

						<li><a href="aboutpage.html"><span class="glyphicon glyphicon-menu-right"></span> ABOUT LOREM IPSUM</a></li>
						<li><a href="locations.html"><span class="glyphicon glyphicon-menu-right"></span> OUR LOCATIONS</a></li>
						<li><a href="spaproducts.html" class="active"><span class="glyphicon glyphicon-menu-right"></span> SPA PRODUCTS</a></li>
						<li><a href="specialoffers.html"><span class="glyphicon glyphicon-menu-right"></span> SPECIAL OFFERS</a></li>
					</ul>
				</div>
			</nav>
      
				<img class="img-responsive custom-margin" src="../images/SpaProducts.gif">
					<div class="para-custom">
						<p> If you experienced luxurious treatments at a Lorem Ipsum Spa you may find yourself wanting to recreate the experience at home. Well you can! The professional skincare and body care brands used in Lorem Ipsum Spas are available for purchase at our official online spa shop, timetospa.</p>

         	 <p>Please select your region:</p>
     				 <center>
     				 	<div class="table-responsive">
      					<table>
      						<thead>
      							<th></th>
      							<th></th>
      							<th></th>
      						</thead>

      						<tbody>
										<tr>
      								<td colspan="4">USA</td>
      								<td></td>
      								<td></td>
      							</tr>
      							<tr>

      						  <tr>
      						  	<td>Canada</td>
      						  	<td></td>
      						  	<td></td>
      						  </tr>
      						  <tr>
      						  	<td>Carribean</td>
      						  	<td></td>
      						  	<td><a href="#">FIND OUT MORE <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></td>
      						  </tr>
      						  <tr>
      						  	<td>South America</td>
      						  	<td></td>
      						  	<td></td>
      						  </tr>
      						  <thead>
      						  	<th></th>
      						  	<th></th>
      						  	<th></th>
      						  </thead>
      						  <tr>
      						  	<td>United Kingdom</td>
      						  	<td></td>
      						  	<td></td>
      						  </tr>
      						  <tr>
      						  	<td>Europe</td>
      						  	<td></td>
      						  	<td></td>
      						  <tr>
      						  <tr>
      						  	<td>Africa</td>
      						  	<td></td>
      						  	<td></td>
      						  </tr>
      						  <tr>
      						  	<td>Asia</td>
      						  	<td></td>
      						  	<td><a href="#">VISIT SEATOSPA.COM <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></td>
      						  </tr>
      						  <tr>
      						  	<td>Japan</td>
      						  	<td></td>
      						  	<td></td>
      						  </tr>
      						  <tr>
      						  	<td>Korea</td>
      						  	<td></td>
      						  	<td></td>
      						  </tr>
      						  <tr>
      						  	<td>Singapore</td>
      						  	<td></td>
      						  	<td></td>
      						  </tr>
      						  <thead>
      						  	<th></th>
      						  	<th></th>
      						  	<th></th>
      						  </thead>

      						  
      					</tbody>
      				</table>
     				 </center>
     			</div>
        <!--   <div class="img-custom">
            <a href=".../Web-Designing/index.html"><img src="../images/spaimage.jpg" alt="spaimage" width="80" height="80"></a>
          </div>
 -->     			    

