<!DOCTYPE html>
<html>
		<head>
			<title>Special offers</title>
				<meta charset="utf-8">
				<meta name="viewport" width="device-width, initial-scale=1.0">
				<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
				<link rel="stylesheet" type="text/css" href="../Styles/stylesheetspecialoffers.css">
 				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 				<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 				<script src="https://raw.githubusercontent.com/srobbin/jquery-backstretch/master/jquery.backstretch.min.js"></script>
 		</head>

 		<body>
 			<nav class="navbar navbar-primary">
 				<div class="container">
 					<div class="navbar-header">
 						<a class="navbar-brand" href="../../index.html"><img src="../images/spaimage.jpg" class="img-responsive indexpage" alt="spa image" width="80" height="80"></a>
 					</div>
 					<button type="button" class="navbar-toggle custom-border" data-toggle="collapse" data-target="#mainnav">
 						<span class="icon-bar"></span>
 						<span class="icon-bar"></span>
 						<span class="icon-bar"></span>
 					</button>
 					<div class="collapse navbar-collapse" id="mainnav">
 						<ul class="nav navbar-nav">
 							<li><a href="aboutpage.html"><span class="glyphicon glyphicon-menu-right"></span> ABOUT LOREM IPSUM</a></li>
 							<li><a href="locations.html"><span class="glyphicon glyphicon-menu-right"></span> OUR LOCATIONS</a></li>
 							<li><a href="spaproducts.html"><span class="glyphicon glyphicon-menu-right"></span> SPA PRODUCTS</a></li>
 							<li><a href="#" class="active"><span class="glyphicon glyphicon-menu-right"></span> SPECIAL OFFERS</a></li>
 						</ul>
 					</div>
 				</div>
 			</nav>

 			<img class="img-responsive custom-img" src="../images/specialoffers.gif" alt="specialoffers">
 				<div class="custom-para">
 					<p class="custom-font">North America</p>
 				</div> 
 				<div class="vertical-navbar">
 					<img src="../images/spl_offer.gif">
 						<p class="custom-margin">Check out Lorem Ipsum special offers in the following locations:
 						</p>
 						<ul >
 							<li><a href="#">AFRICA</a></li>
 							<li><a href="#">CHINA</a></li>
 							<li><a href="#">EUROPE</a></li>
 							<li><a href="#">JAPAN</a></li>
 							<li><a href="#">MALAYSIA</a></li>
 							<li><a href="#">MALDIVES</a></li>
 							<li><a href="#">NORTH AMERICA</a></li>
 							<li><a href="#">THAILAND</a></li>
 						</ul>
 				</div>
 		</body>
  </html>